.secappointments {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: var(--clr-40);

  .body {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    justify-content: space-between;
    padding-inline: clamp(20px, 8vw, 100px);
    padding-block: clamp(20px, 30vh, 0px) 200px;
    min-height: 657px;
  }

  @media screen and (min-width: 900px) {
    .body {
      flex-direction: row;      
    }

  }

  .body .trading-hours {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-width: 350px;
    gap: 6px;
  }

  ul li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding-bottom: 6px;
  }

  .forms {
    background-color: var(--clr-40);
    color: var(--clr-60);
    border-radius: 30px;   
    margin-right: clamp(20px, 8vw, 100px); 
    height: fit-content;
  }

  
  .forms .tabs {
    display: flex;
    flex-direction: column;
  }

  .forms .tabs .head {
    display: flex;
    justify-content: space-between;
  }

  .forms .tabs > p {
    padding-inline: 25px;
    color: hsl(0 100% 80% / 1);
    font-weight: 500;
  }

  .forms .tabs .head h5 {
    background-color: var(--clr-6055);
    padding: 25px;
    /* text-wrap: nowrap; */
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }

  .forms .tabs .head > :not(.active) {
    color: var(--clr-40-2);    
    opacity: .5;
    cursor: pointer;
  }

  .forms .wrap {
    position: relative;
    transition: height .8s ease-in-out

  }

  form {
    position: absolute;
    width: 100%;
    opacity: 1;
    transition: opacity .2s .8s ease-in-out;
    padding-bottom: 40px;
    padding-inline: 25px;
  }

  .form-create {
    height: 340px;
  }

  .form-fetch {
    height: 160px;
  }

  .info {
    display: flex;
    flex-direction: column;
    padding-inline: 50px;
    padding-bottom: 50px;
    color: var(--clr-10);
    gap: 4px;
  }

  .info > div {
    display: flex;
    gap: 10px;
    color: var(--clr-60);
  }
  
  .info > div p {
    margin-top: 6px;
  }
  .form-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
  }

  form .inputs {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  form .inputs > div {
    position: relative;
    display: flex;
    width: 100%;
  }

  form .inputs > div label {
    font-weight: 600;
  }

  form .inputs input {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 22px;
    background-color: transparent;
    border-bottom: 1px var(--clr-60) solid;
    color: inherit;
  }

  form input[type="button"] {
    display: flex;
    width: 100%;
    position: relative;
    height: 40px;
    margin-top: 50px;
    padding-inline: 14px;
    align-items: center;
    background-color: var(--clr-60);
    color: var(--clr-40);
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}