footer {
    display: flex;
    flex-direction: column;
    padding-block: clamp(50px, 10vh, 100px);
        padding-inline: clamp(20px, 8vw, 100px);
  overflow: hidden;
  background-color: var(--clr-40);
  color: var(--clr-60);

  .sf-body {
    display: flex;
    flex-direction: column;
    margin-top: clamp(20px, 4vw, 60px);
    gap: 10px;
  }

  .sf-sub-body {
    display: flex;
    flex-direction: column;
  }

  .sf-sub-body > div {
    display: flex;
    width: fit-content;
    gap: 10px;
    align-items: center;
  }

  .sf-sub-body h3 {
    margin-bottom: 10px;
  }

  .sf-sub-body > div svg {
    width: 100%;
    height: 22px;
    color: var(--clr-10);
  }
}