.serviceoutlet {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  inset: 0;
  z-index: 3;
  opacity: 0;
  transition: opacity 1s .5s;

  .text {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }

  .head {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .head .wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline: unset;
    padding-block: unset;
  }

  .head .wrap h5 {
    text-wrap: nowrap;
  }

  .head .wrap .button {
    width: fit-content;
    flex-direction: row-reverse;
    background-color: transparent;
    color: var(--clr-40);
    text-transform: capitalize;
    padding-inline: 0;
  }

  .head .wrap .button svg {
    height: 100%;
  }

  .body {
    display: flex;
    flex-direction: column-reverse;
    padding-inline: 0;
    gap: clamp(20px, 8vw, 100px);
    margin-top: 50px;
    padding-block: 0;
  }

  .wrap .property :first-child {
    font-weight: 600;
  }

  .wrap .property :last-child {
    opacity: .7;
  }

  .text .appointment {
    margin-top: 14px !important;
    flex-direction: column;
  }

  .text .cost {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
  }

  .text .wrap {
    margin-top: 30px;
  }

  .text .wrap h5 {
    margin-bottom: 14px;
  }

  .text .wrap .property {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 7px;
    padding-left: 15px;
  }

  .button {
    width: 100%;
  }

  .button p {
    width: 100%;
    text-align: center;
  }

  .images {
    position: relative;
    border-radius: 85px;
    background-color: var(--clr-40);
    width: 60%;
    height: 100%;
    overflow: hidden;
    color: var(--clr-60);
  }

  .images img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: .6;
    transition: opacity .1s;
  }

  .images img.hide {
    opacity: 0;
  }

  .next-buttons {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    top: 50%;
    gap: 20px;
    z-index: 10;
    justify-content: space-between;
    padding-inline: 20px;

    .button {
      width: fit-content;
      border-radius: 60px;
      height: 42px;
      padding: 10px;
      opacity: 1;
      transition: opacity .4s;
    }

    .button.hide {
      opacity: 0;
      pointer-events: none;
    }

    svg {
      width: 22px;
      fill: var(--clr-60);
    }
  }
}

.serviceoutlet-active {
  opacity: 1;
}