@font-face {
  font-family: body;
  src: url('../../asset/fonts/Ubuntu-Regular.ttf');
}
:root {
  /* font-size: 62.25%; */
  --clr-60: hsl(180, 100%, 50%);
  --clr-40: hsl(180, 100%, 10%);
  --clr-40-2: hsl(180, 100%, 15%);
  --clr-10: hsl(60, 100%, 90%);
  --clr-fff: hsl(0, 0%, 100%);
  --unit: 1.618;
}
html {
  scroll-behavior: smooth;
  font-size: 62.25%;
}
#root {
  display: grid;
  grid-template-columns: 1fr min(100%, 1280px) 1fr;
  background: linear-gradient(to right, #ffff, #00CCCC);
}
#root > * {
  grid-column: 2;
}
body {
    position: relative;
    font-size: 1.3rem;
    font-family: body;
    color: var(--clr-40);
}

/* Global Settings */

h1 {
 font-size: clamp(4.2rem, 4vw, 5.2rem);
 font-weight: 500;
 line-height: normal;
}
h2 {
  font-weight: 600;
  font-size: clamp(1.9rem, 2.29vw, 2.9rem);
  text-transform: capitalize;
}
h3 {
  font-size: clamp(1.3rem, 2.24vw, 1.7rem);
  font-weight: 500;
  text-transform: capitalize;
}
h5 {
  font-size: clamp(1.3rem, 2.24vw, 1.7rem);
  font-weight: 600;
  text-transform: capitalize;
}
p {
  font-size: clamp(1.2rem, 1vw, 1.3rem);
  font-weight: 300;
  filter: contrast(.7);
}
a {
  text-decoration: none;
}
input, .input-button input {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-family: body;
  transition: filter .4s;
}
input:hover, .input-button:hover {
  filter: contrast(1.6);
}

.button {
  display: flex;
  width: fit-content;
  position: relative;
  height: 40px;
  padding-inline: 14px;
  align-items: center;
  background-color: var(--clr-40);
  color: var(--clr-10);
  border-radius: 6px;


  p {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--clr-10);
    text-transform: inherit;
    color: inherit;
    transform: translateX(0);
    transition: transform .6s;
  }

  svg {
    height: 60%;
    opacity: 1;
    transform: translateX(0);
    transition: opacity .6s, transform .7s;
  }

  input {
    position: absolute;
    inset: 0;
    opacity: 0;
  }
}

.button.def-anim:hover {
  p {
    transform: translateX(14px);
    transition: transform .7s;
  }

  svg {
    opacity: 0;
    transform: translateX(calc(100% + 14px));
  }
}

.page-scroll-buttons {
  display: none;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  padding-inline: 40px;
  justify-content: center;
  gap: 20px;
  z-index: 10;

  .button {
    border-radius: 60px;
    height: fit-content;
    padding: 6px;
    position: relative;
    bottom: -20vh;
  }

  svg {
    width: 32px;
  }
}

section > .head {
  display: flex;
  flex-direction: column;
  padding-inline: clamp(20px, 8vw, 100px);
  padding-block: clamp(50px, 10vh, 100px);
  margin-bottom: 5px;

  p {
    /* text-align: justify; */
    max-width: clamp(300px, calc(54vw - 40px), 350px);
  }
}
/* End */