@media screen and (min-width: 512px) {
  
  /* GLOBAL */

  .page-scroll-buttons {
    display: flex;
  }

  /* HEADER QUERIES */

  header {
    nav .right .buttons > :first-child {
      display: none;
    }

    nav .right .buttons > :last-child {
      display: flex !important;
    }
  }

  /* SERVICES QUERIES */

  .secourwork {

  }


}

@media screen and (min-width: 800px) {
  .secourwork {
    .serviceoutlet .body {
      flex-direction: row !important;
      height: 900px !important;
    }

    .serviceoutlet-active {
      height: 600px !important;
    }

    .serviceoutlet .body .images {
      max-width: 600px;
    }

  .body.service-is-active {
    height: 830px !important;
  }
  }
}