.serviceoutlet {
  display: flex;
  position: absolute;
  width: 100%;
  inset: 0;
  z-index: 3;
  opacity: 0;
  transition: opacity 1s .5s;
  gap: clamp(20px, 8vw, 100px);

  .text {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
  }

  .text h5 {
    text-wrap: nowrap;
  }

  .text .wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .text .wrap .head {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding-inline: unset;
    padding-block: unset;
    justify-content: space-between;
  }

  .text .wrap .property {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .wrap .property :first-child {
    font-weight: 600;
  }

  .wrap .property :last-child {
    opacity: .7;
  }

  .text .appointment {
    flex-direction: column;
  }

  .text .cost {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
  }

  .button {
    width: 100%;
  }

  .button p {
    width: 100%;
    text-align: center;
  }

  .images {
    position: relative;
    border-radius: 85px;
    background-color: var(--clr-40);
    width: 60%;
    height: 400px;
    overflow: hidden;
    color: var(--clr-60);
  }

  .images img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: .6;
  }

  .next-buttons {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    top: 50%;
    gap: 20px;
    z-index: 10;
    justify-content: space-between;
    padding-inline: 20px;

    .button {
      width: fit-content;
      border-radius: 60px;
      height: 42px;
      padding: 10px;
    }

    svg {
      width: 22px;
      fill: var(--clr-60);
    }
  }
}

.serviceoutlet-active {
  opacity: 1;
}